:root {
  font-size: 62.5%;
}

body {
  font-family: 'JetBrains Mono', sans-serif;
  background: black;
  font-size: 1.6rem;
}

.page {
  width: 100rem;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  margin-top: 6rem;
  width: 36rem ;
  height: 20rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 6rem;
  margin: 0;
  padding: 0;
}

ul li a {
  color: #FFF;
  text-decoration: none;
}

ul li a:hover {
  color: #ffffff7c;
  opacity: 1;
}

main {
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section img {
  border-radius: 50%;
  margin-top: 0rem;
  width: 25rem;
  height: 25rem;
  margin-right: 8.2rem;
  margin-left: 6.5rem; 
}

section h1 {
  margin-top: 6rem;
  font-size: 3.6rem;
  line-height: 4rem;
  color: #FFF;
  font-weight: 900;
  text-align: center;
}

h1 span {
  color: #00BFA6;
}
p span {
  color: #00BFA6;
}

section {
  font-size: 1.3rem;
  text-align: center;
}

section p {
  font-weight: 600;
  line-height: 2.8rem;
  color: #C2C2C2;
  margin: 6rem 0;
  font-family: 'Open Sans', sans-serif;
}

footer {
  color: #FFF;
  font-size: 1.4rem;
  line-height: 2.8rem;
  text-align: center;
  margin: 2.7rem auto;
}

footer a {
  color: #FFF;
  text-decoration: none;
}
footer a span {
  color: pink;
}

